@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

* {
    font-family: "Ubuntu", sans-serif;
}
.loading_Page_Animation img{
    height: 100vh;
    justify-content: center;
    width: 100%;
}
.nav_uppersection{
    height: 14px;
position: relative;

}

.contact_media_left {
    width: 945px;
}
.broder_left{
     border-left: 2px solid;
}
.input{
    width: 80%;
}

.login {
    margin: 2px 35px;
    text-align: center;
    margin: auto;
    width: 2.333%;
}

.loginForm {
    display: none;
    position: absolute;
    right: 60px;
    

 
}
.form{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 56px 36px;
    animation-name: form;
    animation-duration: 4s;
    border: 3px solid;
    height: 284px;
    padding: 30px 10px;
    width: 440px;
}


.navbar_submenu{
    width: 1280px;
    display: none;
    height: 400px;
    /* overflow: hidden; */
}

.search {
    color: gray;
    
    position: relative;
}
.search_icon{
    background-color: gray;
    color: white;
    font-size: 48px;
    position: absolute;
    border-radius: 2px;
}
.icon_padding{
    padding: 5px 2px;
}


nav {
    width: 95%;
    margin: auto;
    background-color: #004080;
    border-radius: 5px;
}
.hover:hover {
    background-color: #0dcaf0;
    color: white;
}
.hover1:hover{
    color: black;
}

.hover {
    position: relative;
    cursor: pointer;
    color: white;
}
.hover:hover .navbar_submenu {
    display: block;

    color: tomato;
    left: 0;
    position: absolute;
    border: 4px solid aquamarine;
    list-style: none;
}
.main {
    z-index: -1;
    position: relative;
    border-radius: 6px;
}
.bgphoto {
    background-attachment: fixed;
    height: 80%;
    background-repeat: no-repeat;
    background-color: #004080;
    position: relative;
    min-height: 60%;
    border-radius: 6px;
}
.img {
    top: -37px;
    background-attachment: fixed;
    height: 80%;
    background-repeat: no-repeat;
    clip-path: circle(50% at 50% 50%);
    position: absolute;
    right: 0;
    margin: 68px auto;
}
.h1 {
    width: 50%;
    text-align: center;
    top: 120;
    position: absolute;
}
.p {
    position: absolute;
    width: 50%;
    text-align: center;
    top: 160;
}
.login:hover .loginForm{
    /* display: block;
    background-color: #0dcaf0; */
    /* color: whiblate; */
    /* border-radius: 6px;
    cursor: pointer;
     */


}
